#Executables
RSA/chiffre
RSA/dechiffre
RSA/gencle
RSA/verifie
RSA/signe

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#CodeBlocks
*.depend
*.layout

#get rid of bin/
[Bb]in/
obj/

#linux stuffs
*~

#project files
*.priv



